<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" 
	android:installLocation="internalOnly"
	package="com.nc.reminder" android:versionCode="1" android:versionName="1.0">
	
	<application android:icon="@drawable/icon" android:label="@string/app_name"
		android:name="Reminder">
		
		<!-- widget -->
		<receiver android:name=".widget.WidgetProvider">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
			</intent-filter>
			<meta-data android:name="android.appwidget.provider"
               		android:resource="@xml/appwidget_info" />
		</receiver>
		
		<!-- configurador de widget -->
		<activity android:name=".activity.DrawActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
		        <action android:name="com.nc.reminder.action.NEW_DRAW" />
		    </intent-filter>
		</activity>

	</application>


</manifest> 